/** @format */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: "Barlow";
  padding: 30px;
  position: relative;
}

.nav label {
  font-weight: 800;
  font-size: 30px;
}

.ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}

.contact {
  background-color: white;
  border-radius: 24px;
  color: hsl(212, 27%, 19%);
  font-weight: 900;
  padding: 16px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  font-family: "Fraunces";
  text-transform: uppercase;
}

.ul li:hover {
  cursor: not-allowed;
}

.icon {
  display: none;
}

@media only screen and (max-width: 860px) {
  .ul {
    display: none;
  }

  .icon {
    display: flex;
    position: relative;
  }

  .ulmobile {
    position: absolute;
    top: 100%;
    right: 30px;
    background-color: white;
    width: 70%;
    padding: 32px;
    z-index: 1000;
  }

  .ulmobile::before {
    content: "";
    position: absolute;
    top: -19px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 0px solid transparent;
    border-top: transparent;
    border-bottom: 20px solid white;
  }

  .ulmobile ul {
    color: hsl(210, 4%, 67%);
    font-family: "Barlow";
    font-weight: 700;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .contact {
    background-color: hsl(51, 100%, 49%);
  }
}
